/*.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/



/*.info_head {
    padding: 15px 0;
}*/
/*.row {
    margin-right: -15px;
    margin-left: -15px;
}*/
/*.div {
    display: block;
}*/
a {
 font-size: 14px;
}
